{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "ie >= 10"]
      }
    }]
  ],
  "plugins": [
    "dynamic-import-node",
    "transform-flow-strip-types",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", { "polyfill": false }]
  ],
  "sourceMaps": true
}
